.calendario {
    position: absolute;
    width: 500px;
    height: 400px;
    display: grid;
    grid-template-rows: 15% 15% 70%;
    z-index: 10;
    background-color: #005E7C;
    align-items: center;
    border-radius: 10px;
}

/* Contenedor de mes y año */
.mes {
    display: flex;
    justify-content: start;
    margin-left: 10px;
    height: 100%;
    background-color: transparent;
    border-radius: 5px;
}

.mesSelect {
    cursor: pointer;
    width: 100% !important;
    height: 100%;
    background-color: transparent;
    border: none !important;
    color: white;
    font-size: 1.5rem !important;
}

.mesOption {
    background-color: #005E7C;
}

/* Días de la semana */
.diasSemana {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0;
    padding: 0;
    justify-items: center;
    gap: 5px;
}

.diaSemana {
    background-color: #80AFBE;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
}

/* Días del mes */
.dias {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin: 0;
    padding: 0;
    gap: 5px;
    justify-items: center;
    cursor: pointer;
}

.dia {
    background-color: #005E7C;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.dia:hover {
    border: 2px solid white;
}

.diaEnSemana {
    background-color: #609AAD;
}
